@mixin .imageButton(@imageName, @startColor: @white, @midColor: @white, @colorStop: 25%, @endColor: darken(@white, 10%)) {
    background-color: mix(@midColor, @endColor, 80%);
    background-image: url(@imageName);
    background-image: url(@imageName), -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
    background-image: url(@imageName), -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: url(@imageName), -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: url(@imageName), -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: url(@imageName), -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: url(@imageName), linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
}

.pesticide_font {
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
.pesticide_button {
  width: 200px;
  height: 250px;
}
.pesticide_button_img {
  width: 200px;
  height: 200px;
}

.search_pests {
  .imageButton('../static/images/decision_buttons/pests.jpg');
}
.search_pesticide {
  .imageButton('../static/images/decision_buttons/pesticide_search.png');
}

.insect {
  background-image: url("../images/decision_tool/mosquito_adult_button_200x200.jpg");
  background-repeat: no-repeat;
  background-position:center;
}
.pesticide_button .weed {
  background-image: url("../images/decision_tool/weeds_button_200x200.jpg") !important;
}
.pesticide_button .algae {
  background-image: url("../images/decision_tool/algae_button_200x200.jpg") !important;
}
.pesticide_button .fungus {
  background-image: url("../images/decision_tool/disease_button_200x200.jpg") !important;
}

.concern_button {
  width: 50px;
  height: 50px;
}
.hazard_low {
  background-color: #4f6228;
}

.hazard_moderate {
  background-color: #92d050;
}

.hazard_likely {
  background-color: #ffc000;
}

#feature-loading
{
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background:url(../images/ajax-loader.gif) no-repeat center center;
}
