{% extends 'base.html' %}
{% block javascript %}
  <script type="text/javascript" src="{{STATIC_URL}}js/knockout/knockout-3.1.0.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery.ba-bbq.min.js"></script>
  <script src="{{STATIC_URL}}js/ladda-bootstrap/dist/spin.js"></script>
  <script type="text/javascript"  src="{{STATIC_URL}}js/models.js"></script>
  <script type="text/javascript">
    function ais_for_pest_page()
    {
      var self = this;

      self.viewModel = null;
      self.configData = null;
      self.initialize = function()
      {
        self.viewModel = new activeIngredientsForPestViewModel();
        self.viewModel.initialize();
        ko.applyBindings(self.viewModel);

      };
      return(self);
    }
    app = ais_for_pest_page();
    app.initialize();

  </script>
{% endblock %}


{% block body %}
  <style>

    #warnings-hover .thumbnail {
        position:relative;
        overflow:hidden;
    }
    .caption {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.4);
      width: 100%;
      height: 100%;
      color:#fff !important;
      text-align: center;
    }

  </style>

  <div class="container">
    <!--
    Active ingredient listing page
    -->
    <div data-bind="visible: visibleTracker['active_ingredients']">
      <div class="row">
        <div class="text-center">
          <h3>Pest: <span data-bind="text: pest_name()"></span></h3>
        </div>

        <!--Place holder for the loading spinner-->
        <div class="row" data-bind="visible: showSpinner">
          <span id="spinner"></span>
        </div>
        <!--End spinner-->

        <!--
        For debugging the knockout data.
          <pre data-bind="text: JSON.stringify(ko.toJS($parent), null, 2)"></pre>
        -->
      </div>
      <div data-bind="foreach: ai_results">
        <div class="row">
          <div data-bind="attr: {class: $root.getPanelClass($data.relative_potential_ecosystem_hazard)}">
            <div class="panel-heading">
              <h3 class="panel-title" data-bind="text: 'Active Ingredient: ' + display_name"></h3>
            </div>
            <div class="panel-body">
              <!--
              <dl class="dl-horizontal">
              -->
              <dl>
                <dt>Potential Ecosystem Hazard</dt>
                <dd data-bind="text:relative_potential_ecosystem_hazard"></dd>
                <dt>Concern</dt>
              </dl>
                <dd>
                  <div id="warnings-hover" class="row" data-bind="foreach: warnings">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                      <a href="#" class="btn btn-lg" data-toggle="popover" data-bind="attr: {id: name, 'data-content': display_name}">
                        <img class="concern_button img-circle" data-bind='attr: {src: image_url, alt: name}'>
                      </a>
                    </div>
                  </div>
                </dd>
              </dl>
              <p>
                <a role="button" href="#" class="btn btn-default" data-bind="click: function(ai, event) { $parent.showProducts(ai, event); }">Products »</a>
                <!--
                <a role="button" href="#" class="btn btn-default" data-toggle="modal" data-target="#brands_popup" data-bind="click: function(ai, event) { $parent.showProducts(ai, event); }">Products »</a>
                -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End active ingredient listing page-->
    <!--Brands List-->
    <div data-bind="visible: visibleTracker['brands']">
      <div class="row">
        <h4 data-bind="text: 'Products containting ' + activeAI()"></h4>
        <div class="btn-group btn-group-justified" data-bind="foreach: activeBrands">
          <a class="list-group-item" data-bind="text: name, click: function(ai, event) { $parent.showBrandInfo(ai, event); }"></a>
          <!--
          <a class="list-group-item" data-toggle="modal" data-target="#brand_info_popup" href="#" data-bind="text: name, click: function(ai, event) { $parent.showBrandInfo(ai, event); }"></a>
          -->
        </div>
        <!--
        <div class="list-group" data-bind="foreach: activeBrands">
          <li class="list-group-item btn btn-default"  href="#" data-toggle="modal" data-target="#brand_info_popup" data-bind="text: name"></li>
          <a class="list-group-item" href="#" data-bind="text: name"></a>
        </ul>
          -->
      </div>
    </div>
    <!--End Brands List-->
    <!-- Brand Info -->
    <div data-bind="foreach: activeBrand, visible: visibleTracker['brand_info']">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-bind="text: 'Brand: ' + name"></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <span id="brand_nfo_spinner"></span>
            </div>
            <dl class="dl-horizontal">
              <dt>Restricted Use:</dt>
              <dd data-bind="text: restricted_use"></dd>
              <dt>Formulation:</dt>
              <dd data-bind="text: formulation"></dd>
              <dt>Product Label:</dt>
              <dd>
                <a data-bind="attr: {href: label_url}">Label Link</a>
              </dd>
              <dt>Application Areas:</dt>
              <dd>
                <a class="list-group-item btn btn-default" data-toggle="modal" data-target="#list_modal" href="#" data-bind="click: function(aa, event) { $parent.showApplicationAreas(aa, event); }">
                  Show »
                </a>

              </dd>
              <dt>Pests Treated:</dt>
              <dd>
                <a class="list-group-item btn btn-default" data-toggle="modal" data-target="#list_modal" href="#" data-bind="click: function(aa, event) { $parent.showPestsTreated(aa, event); }">
                  Show »
                </a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <!-- End Brand -->
  <!-- List modal -->
  <div class="modal fade" id="list_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel" data-bind="text: listName"></h4>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item" data-bind="text: name"></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End list modal -->

  </div>

{% endblock %}

