{% extends 'base.html' %}
{% block javascript %}
  <script type="text/javascript" src="{{STATIC_URL}}js/knockout/knockout-3.1.0.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery.ba-bbq.min.js"></script>
  <script type="text/javascript"  src="{{STATIC_URL}}js/models.js"></script>
  <script type="text/javascript">
    function ais_for_pest_page()
    {
      var self = this;

      self.viewModel = null;
      self.configData = null;
      self.initialize = function()
      {
        self.viewModel = new activeIngredientsForPestViewModel();
        self.viewModel.initialize();
        ko.applyBindings(self.viewModel);

      };
      return(self);
    }
    app = ais_for_pest_page();
    app.initialize();

  </script>
{% endblock %}


{% block body %}
  <style>

    #warnings-hover .thumbnail {
        position:relative;
        overflow:hidden;
    }
    .caption {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.4);
      width: 100%;
      height: 100%;
      color:#fff !important;
      text-align: center;
    }

  </style>

  <div class="container">
    <div class="text-center">
      <h3>Pest: <span data-bind="text: pest_name()"></span></h3>
    </div>
    <!--
    For debugging the knockout data.
      <pre data-bind="text: JSON.stringify(ko.toJS($parent), null, 2)"></pre>
    -->
    <div data-bind="foreach: ai_results">
      <div data-bind="attr: {class: $root.getPanelClass($data.relative_potential_ecosystem_hazard)}">
        <div class="panel-heading">
          <h3 class="panel-title" data-bind="text: display_name"></h3>
        </div>
        <div class="panel-body">
          <!--
          <dl class="dl-horizontal">
          -->
          <dl>
            <dt>Potential Ecosystem Hazard</dt>
            <dd data-bind="text:relative_potential_ecosystem_hazard"></dd>
            <dt>Concern</dt>
          </dl>
            <dd>
              <div id="warnings-hover" class="row" data-bind="foreach: warnings">
                <div class="col-xs-2">
                <!--
                Hover over image to get text
                -->
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span data-bind="text: name"></span></h4>
                  </div>
                  <img class="concern_button img-circle" data-bind='attr: {src: image_url, alt: name}'></img>
                </div>
              </div>
            </dd>
          </dl>
          <p>
            <a role="button" href="#" class="btn btn-default">Products »</a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

