{% extends 'base.html' %}
{% block body %}

  <!-- Start the tool view-->
  <div class="row-fluid">
    <div class="col-sm-6 col-md-4">
      <a class="btn pesticide_button" href="#search_pesticide" >
        <img class="pesticide_button_img img-responsive" src="{{ STATIC_URL }}/images/decision_buttons/pests.jpg"></img>
        <br />
        <h4>Find Your Pest - Then Pesticide</h4>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a class="btn pesticide_button" href="#search_pesticide" >
        <img class="pesticide_button_img img-responsive" src="{{ STATIC_URL }}/images/decision_buttons/pesticide_search.png"></img>
        <br />
        <h4>Pesticide Search</h4>
      </a>
    </div>
  </div>


{% endblock %}

{% block javascript %}

{% endblock %}
