{% extends 'base.html' %}
{% block javascript %}
  <script type="text/javascript" src="{{STATIC_URL}}js/knockout/knockout-3.1.0.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery.ba-bbq.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap/bootstrap3-typeahead.min.js"></script>

  <script src="{{STATIC_URL}}js/ladda-bootstrap/dist/spin.js"></script>
  <script type="text/javascript"  src="{{STATIC_URL}}js/models.js"></script>
  <script type="text/javascript">
    //These are variables from the Django view.
    pesticides_typeahead = {{ pesticides_typeahead|safe }};
    ai_typeahead = {{ active_ingredients_typeahead|safe }};
    function pesticide_search_page()
    {
      var self = this;

      self.viewModel = null;
      self.configData = null;
      self.initialize = function()
      {
        self.viewModel = new pesticideSearchViewModel();
        self.viewModel.initialize();
        ko.applyBindings(self.viewModel);

      };
      //This funciton initlizatizes the pager extension and knockout bindings. Our button data is in a json config file
      //and we don't want to call this funciton until it the Ajax request in the initialize function above completes.
      self.initPage = function()
      {
      };
      return(self);
    }
    app = pesticide_search_page();
    app.initialize();

  </script>
{% endblock %}

{% block body %}
  <link href="{{STATIC_URL}}css/carousel.css" rel="stylesheet">

  <div class="container">
    <div class="well">
      <div class="marketing" data-bind="visible: visibleTracker['pesticide_ai_search']()">
        <!-- Start the pesticide search view-->
        <div class="row" id="search_types">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-4">
            <img style="width: 140px; height: 140px;" alt="Pesticide Search" src="{{ STATIC_URL }}/images/decision_buttons/pesticide_search.jpg" class="img-circle">
            <h2>Brand Search</h2>
            <p>Have a pesticide product? Search here to find information on it.
              Start typing your brand name below.</p>
            <p>
              <div class="input-group">
                <input id="pesticide_names" data-provide="typeahead" autocomplete="off" type="text" placeholder="Pesticide Search..." class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" data-bind="click: brandSearch">Go!</button>
                </span>
              </div><!-- /input-group -->
            </p>
          </div>
          <div class="col-lg-4">
            <img style="width: 140px; height: 140px;" alt="Pesticide Search" src="{{ STATIC_URL }}/images/decision_tool/Glyphosate-3D-balls.png" class="img-circle">
            <h2>Active Ingredient Search</h2>
            <p>Want to find out more information about the active ingredient in a pesticide?
              Start typing your active ingredient below.</p>
            <p>
              <div class="input-group">
                <input id="ai_names" data-provide="typeahead" autocomplete="off" type="text" placeholder="Active Ingredient Search..." class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" data-bind="click: activeIngredientSearch">Go!</button>
                </span>
              </div><!-- /input-group -->
            </p>
          </div>
          <div class="col-lg-2">
          </div>
        </div>
      </div>
      <!-- End the pesticide search view-->
    </div>
  </div>
  <!--container-->
{% endblock %}
